<%- include("../../views/partials/user/header") %>

<div class="container-fluid"  style="background-color: #f1f3f6;">
   
    <div class="dashboard-container">
        
        <!-- Include the sidebar partial -->
        <%- include("../../views/partials/user/sidebar") %>
        
      

        <div class="dashboard-content">
            <div class="row">
                <div class="col-md-4">
                    <div class="dashboard-card">
                        <div class="card-title">Total Orders</div>
                        <div class="card-body">
                            <i class="fas fa-rocket"></i>
                           

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dashboard-card">
                        <div class="card-title">Pending Orders</div>
                        <div class="card-body">
                            <i class="fas fa-clipboard-list"></i>
                            

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dashboard-card">
                        <div class="card-title">Completed Orders</div>
                        <div class="card-body">
                            <i class="fas fa-box"></i>
                           

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="dashboard-card account-info">
                        <div class="card-title">Account Info</div>
                        <div class="user-info">
                            <i class="fas fa-user"></i>
                           
                            <% if (user) { %>
                                <div class="user-details">
                                  <p><span id="name"><%= user.name %></span></p>
                                  <p><span id="email"><%= user.email %></span></p>
                                  <!-- Add other user details here -->
                                </div>
                              <% } else { %>
                                <p>No user details available. Please log in.</p>
                              <% } %>
                              

                        </div>
                       <!-- <a href="/account"><button class="edit-button">Edit Account</button></a>  -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="dashboard-card billing-address">
                        <div class="card-title"> Address</div>
                        <div class="user-info">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="user-details">
                                <div class="user-details">
                                    <% if (addresses && addresses.length > 0) { %>
                                        <% addresses.forEach(function(address) { %>
                                            <p><strong>House:</strong> <%= address.house %></p>
                                            <p><strong>Place:</strong> <%= address.place %></p>
                                            <p><strong>City:</strong> <%= address.city %></p>
                                            <p><strong>State:</strong> <%= address.state %></p>
                                            <p><strong>Landmark:</strong> <%= address.landMark %></p>
                                            <p><strong>Pincode:</strong> <%= address.pin %></p>
                                            <p><strong>Contact No:</strong> <%= address.contactNo %></p>
                                            <hr>
                                            <!-- Link to edit the specific address -->
                                            <a href="/edit-address/<%= address._id %>">
                                                <button class="edit-button">Edit Address</button>
                                            </a>
                                        <% }); %>
                                    <% } else { %>
                                        <p>No address available. Please add an address.</p>
                                    <% } %>
                             </div>                         
                    </div>                      
                </div>
                
            </div>
        </div>
    </div>
      </div>
    </div>
    
    <%- include("../../views/partials/user/footer") %>
  </div>